<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

    body {
      background-color: #FFFDFB;
      font-family: Poppins, sans-serif;
    }

    p {
      margin: 8px 0;
      color: #707070;
      line-height: 1.4;
    }

    a {
      padding: 10px 24px;
      background: white;
      border-radius: 100px;
      border: none;
      font-family: "Open Sans", sans-serif;
      color: #ffff;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      transition-duration: 0.4s;
      background: #D8B799 0% 0% no-repeat padding-box;
      box-shadow: 8px 8px 20px #E4C2A7;
      border-radius: 41px;
      opacity: 1;
      text-decoration: none;
    }

    a:hover {
      background: #D09669;
      color: white;
    }

    a:focus {
      outline: none;

    }

    .container {
      padding: 20px 0 0;
      max-width: 600px;
      margin: auto;
      position: relative;
      border-radius: 10px;
      border: 1px solid #eee;
      overflow: hidden;
    }

    .url-container {
      text-align: center;
      margin: 40px auto 80px;
    }

    .text-container {
      padding: 20px;
    }

    .illustration {
      width: 100%;
      max-width: 300px;
      display: block;
      margin: auto;
      margin-top: 80px;
    }

    .logo {
      width: 60px;
      position: absolute;
      top: 10px;
      left: 40px;
      display: block;
    }

    .title {
      font-size: 28px;
    }

    .footer {
      padding: 20px;
      text-align: center;
      color: white;
      background-color: #D8B799;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="https://nikaah.id/logo.svg" alt="logo" class="logo">
    <img src="https://nikaah.id/email-verify.png" alt="email-verify"
      class="illustration">
    <div class="text-container">
      <h1 class="title">Verifikasi Emailmu</h1>
      <p>
        Dear <%=fullname%>, <br><br>
        Terima kasih telah mendaftar di Nikaah.id <br><br>
        Tinggal satu langkah untuk mengaktifkan akun kamu, <br>
        klik untuk verifikasi email kamu
      </p>

    </div>
    <div class="url-container">
      <a href='<%=url%>'>Verifikasi Email</a>
    </div>
    <div class="footer">
      © 2021 Nikaah.id All rights reserved
    </div>
  </div>
</body>

</html>